*,
* ::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color:#621402;;
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.user{
    margin-left: auto;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}